<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="listado-periodos.component.css">
    <title>Tabla de listado de Periodos</title>
</head>
<body>
    
    <div class="center-container">
        <p class="txt-2">Listado de Periodos</p>

        <div class="inputs">
            <button>Editar</button>
            <button class="button1">Eliminar</button>
            <input type="buscar" class="box" placeholder="Buscar">
        </div>


        <table>
            <thead>
                <tr>
                    <th>Mes</th>
                    <th>Año</th>
                </tr>
        </thead>
        <tbody>
            <tr>
                <td>Abril-Agosto</td>
                <td>2023 </td>
            </tr>
            
        </tbody>

        <tbody>
            <tr>
                <td>Abril-Agosto</td>
                <td>2023 </td>
            </tr>
            
        </tbody>

        <tbody>
            <tr>
                <td>Abril-Agosto</td>
                <td>2023 </td>
            </tr>
            
        </tbody>

    </table>

</body>
</html>

    </table>
</body>
</html>
