<body>
  <header>
    <!-- <nav class="nav_container navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand"
          ><img
            class="imagen_header"
            src="../../assets/menu-regular-24.png"
            alt=""
        /></a>
      </div>
    </nav> -->
    <nav class="nav">
      <div class="nav__container">
        <a href="#menu" class="nav__menu">
          <img src="../../assets/menu.svg" class="nav__icon" />
        </a>

        <a href="#" class="nav__menu nav__menu--second">
          <img src="../../assets/close.svg" class="nav__icon" />
        </a>

        <ul class="dropdown" id="menu">
          <li class="dropdown__list">
            <a href="#" class="dropdown__link">
              <!-- <img src="./assets/house.svg" class="dropdown__icon" /> -->
              <span class="dropdown__span">Roles</span>
              <img src="../../assets/down.svg" class="dropdown__arrow" />

              <input type="checkbox" class="dropdown__check" />
            </a>

            <div class="dropdown__content">
              <ul class="dropdown__sub">
                <li class="dropdown__li">
                  <a href="#" class="dropdown__anchor">Crear Rol</a>
                </li>
              </ul>
            </div>
          </li>

          <li class="dropdown__list">
            <a href="#" class="dropdown__link">
              <!-- <img src="./assets/projects.svg" class="dropdown__icon" /> -->
              <span class="dropdown__span">Cursos</span>
              <img src="../../assets/down.svg" class="dropdown__arrow" />

              <input type="checkbox" class="dropdown__check" />
            </a>

            <div class="dropdown__content">
              <ul class="dropdown__sub">
                <li class="dropdown__li">
                  <a href="#" class="dropdown__anchor">Crear Cursos</a>
                </li>
              </ul>
            </div>
          </li>

          <li class="dropdown__list">
            <a href="#" class="dropdown__link">
              <!-- <img src="./assets/email.svg" class="dropdown__icon" /> -->
              <span class="dropdown__span">Periodos</span>
              <img src="../../assets/down.svg" class="dropdown__arrow" />
              <input type="checkbox" class="dropdown__check" />
            </a>

            <div class="dropdown__content">
              <ul class="dropdown__sub">
                <li class="dropdown__li">
                  <a href="#" class="dropdown__anchor">Crear Periodos</a>
                </li>
              </ul>
            </div>
          </li>

          <li class="dropdown__list">
            <a href="#" class="dropdown__link">
              <!-- <img src="./assets/email.svg" class="dropdown__icon" /> -->
              <span class="dropdown__span">Carrera</span>
              <img src="../../assets/down.svg" class="dropdown__arrow" />
              <input type="checkbox" class="dropdown__check" />
            </a>

            <div class="dropdown__content">
              <ul class="dropdown__sub">
                <li class="dropdown__li">
                  <a href="#" class="dropdown__anchor">Crear Carrera</a>
                </li>
              </ul>
            </div>
          </li>

          <li class="dropdown__list">
            <a href="#" class="dropdown__link">
              <!-- <img src="./assets/email.svg" class="dropdown__icon" /> -->
              <span class="dropdown__span">Jornada</span>
              <img src="../../assets/down.svg" class="dropdown__arrow" />
              <input type="checkbox" class="dropdown__check" />
            </a>

            <div class="dropdown__content">
              <ul class="dropdown__sub">
                <li class="dropdown__li">
                  <a href="#" class="dropdown__anchor">Crear Jornada</a>
                </li>
              </ul>
            </div>
          </li>

          <li class="dropdown__list">
            <a href="#" class="dropdown__link">
              <!-- <img src="./assets/email.svg" class="dropdown__icon" /> -->
              <span class="dropdown__span">Materias</span>
              <img src="../../assets/down.svg" class="dropdown__arrow" />
              <input type="checkbox" class="dropdown__check" />
            </a>

            <div class="dropdown__content">
              <ul class="dropdown__sub">
                <li class="dropdown__li">
                  <a href="#" class="dropdown__anchor">Crear Materias</a>
                </li>
              </ul>
            </div>
          </li>

          <li class="dropdown__list">
            <a href="#" class="dropdown__link">
              <!-- <img src="./assets/email.svg" class="dropdown__icon" /> -->
              <span class="dropdown__span">Actividades</span>
              <img src="../../assets/down.svg" class="dropdown__arrow" />
              <input type="checkbox" class="dropdown__check" />
            </a>

            <div class="dropdown__content">
              <ul class="dropdown__sub">
                <li class="dropdown__li">
                  <a href="#" class="dropdown__anchor">Crear Actividades</a>
                </li>
              </ul>
            </div>
          </li>

          <li class="dropdown__list">
            <a href="#" class="dropdown__link">
              <!-- <img src="./assets/email.svg" class="dropdown__icon" /> -->
              <span class="dropdown__span">Cargo</span>
              <img src="../../assets/down.svg" class="dropdown__arrow" />
              <input type="checkbox" class="dropdown__check" />
            </a>

            <div class="dropdown__content">
              <ul class="dropdown__sub">
                <li class="dropdown__li">
                  <a href="#" class="dropdown__anchor">Crear Cargo</a>
                </li>
              </ul>
            </div>
          </li>

          <li class="dropdown__list">
            <a href="#" class="dropdown__link">
              <!-- <img src="./assets/email.svg" class="dropdown__icon" /> -->
              <span class="dropdown__span">Docentes</span>
              <img src="../../assets/down.svg" class="dropdown__arrow" />
              <input type="checkbox" class="dropdown__check" />
            </a>

            <div class="dropdown__content">
              <ul class="dropdown__sub">
                <li class="dropdown__li">
                  <a href="#" class="dropdown__anchor">Crear Docentes</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <footer>
    <div class="texto_footer">
      <p class="texto-1">Tecnológico del Azuay</p>
      <p class="texto-1">Instituto Universitario</p>
    </div>
  </footer>
</body>
<script>
  (() => {
    "use strict";
    const tooltipTriggerList = Array.from(
      document.querySelectorAll('[data-bs-toggle="tooltip"]')
    );
    tooltipTriggerList.forEach((tooltipTriggerEl) => {
      new bootstrap.Tooltip(tooltipTriggerEl);
    });
  })();
</script>
