/* app.component.css */

/* Estilos para el encabezado */
.header {
  background-color: #3498db; /* Color azul */
  height: 50px; /* Ajusta la altura según tus preferencias */
}

/* Estilos para el contenedor principal */
.container-fluid {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Establecer la altura mínima al 100% de la altura visible */
}

/* Estilos para el contenido y el pie de página */
.row {
  flex: 1; /* Hace que la fila ocupe todo el espacio disponible */
}

/* Estilos para el pie de página */
.footer {
  background-color: #007bff;
  color: #fff;
  height: 50px; /* Ajusta la altura según tus preferencias */
  padding: 10px;
  text-align: center;
}
