<!-- app.component.html -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <!-- Encabezado -->
      <div class="header">
        <!-- Puedes agregar contenido adicional aquí -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <!-- Contenido del sidebar -->
      <app-slidebar></app-slidebar>
    </div>
    <div class="col-md-4 offset-md-4">
      <!-- Contenido del login centrado -->
      <app-login></app-login>
    </div>
  </div>
  
  <!-- Pie de página -->
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
