body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.panel {
    max-width: 450px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

p.txt-2 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: 20px;
    position: relative;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
}

.input-container input {
    width: 97%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    position: relative;
}

.input-container.input-arrow::after {
    content: '\2193'; /* Código de flecha hacia abajo */
    font-size: 14px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: #1e469c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

button:focus {
    outline: none;
}

button#cancelar {
    background-color: #f44336;
}

button#cancelar:hover {
    background-color: #f3362c;
}

.dropdown-btn {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    text-align: left;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    border-radius: 3px;
}

.input-container:hover .dropdown-content {
    display: block;
}
